body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url('../img/my-pic.jpg');
    background-position: center top;
}

h1, h2, h3, h4 {
    color: ghostwhite;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 3em;
}

.fontgrey {
    color: grey;
}

.featurette {
    background-color: #CCC3BB;
    padding: 4%;
}

p, li {
    text-align: left;
    font-size: 1.5em;
    color: grey;
}

.fa-li.fa.fa-check-square {
    font-size: 1.5em;
    margin-left:0.5em;
}

.btn.btn-dark.btn-lg {
    margin-top: 0.8em;
}

.icons {
    font-size: 2.5em;
}

.description {
    margin: 1em;
}

.skill {
    font-size: 0.8em;
}

img {
    box-shadow: 5px 5px 5px 5px #888888;
}

#skills {
    background-color: ivory;
}

.portfolio, footer {
    background-color: #CCC3BB;
}
.container {
    text-align: center;
}

#aboutme {
    text-align: center;
    padding:1em;
}

.cvphoto {
    border-radius: 50%;
    height: 25%;
    width: 25%;
    padding: 3%;
    box-shadow: none;
}

.text-muted {
    text-align: center;
    font-size:0.9em;
}

.form-group {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

.btn {
    background-color: #CC585C;
    border-radius: 0%;
}

.btn.btn-light {
    color: white;
}
.shake:hover
{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
